{% extends "book.html" %}

{% block context %}
      <p>1) 하나님 아버지의 이름이 우리 목장을 통하여 거룩히
      여김 받으시기를 원합니다.
      그리고 우리 목장원들이 하나님의 이름을 거룩히 여길 일만
      행하게 하옵소서.
      하나님의 이름을 망령되이 일컫는 일을 행하지 않게 하옵소서.</p>

      <p>2) 하나님의 나라가 우리 목장에 이루어 지기를 원합니다.
      우리 목장원들이 마음에 의와 평강과 기쁨이 넘치는 사람들이 되게 하옵소서.
      그리고 하나님의 통치를 받아서 하나님의 말씀에 복종하는 삶을 살게 하옵소서.
      또 목장원들 가정에 하나님의 나라가 이루어지게 하옵소서.
      그리고 우리 목장을 통하여 하나님의 나라가 이웃과 세상 모든
      사람들에게 전파되기를 원합니다.</p>

      <p>3) 하나님의 뜻이 하늘에서 이루어진 것 같이 땅에서 우리
      목장을 통하여 이루어지기를 원합니다.
      또 우리 목장이 하나님의 뜻인 사람을 구원하는 일을 최우선으로
      하게 하옵소서.
      가정 식구들을 전도하고 이웃을 전도하여 하나님의 뜻을 이루어
      드리기를 소원합니다.
      이 일에 마음이 뜨거워져서 열정적으로 전도하게 하옵소서.
      또한 예수님의 전도법과 관계법을 실천하여 자신이 변화되게 하옵소서.</p>

      <p>4) 하나님께서 우리 목장에 필요한 것을 공급하여 주시기를 원합니다.
      우리 목장의 목자에게 은혜와 능력을 주옵시고, 목장원들에게
      성령 충만과 말씀 충만을 주옵소서.
      우리 목장이 전도하여 크게 부흥하게 하옵소서.
      전목장원이 매일 전도하게 하옵소서.
      그리고 서로 목장원들이 뜨겁게 기도하고 도와주며 사랑하게 하옵소서.
      또한 건강하게 하옵시며 생활도 안정되게 하옵소서.</p>

      <p>(목장을 위한 중보 기도)</p>

      <p>우리 목장이 지역의 영혼들을 많이 구원하는 목장이 되기를 원합니다.
      그리고 영적 추수할 리더를 만들고 번식하는 목장이 되게 하옵소서.</p>

      <p>5) 하나님! 다른 사람의 죄를 용서해 주시기 원합니다.
      우리 목자와 목장원들에게 상처를 주고 힘들게 하였던
      사람(목장원)을 용서해 주옵소서.
      예수님의 이름으로 용서해 주옵소서.
      그리고 그를 축복해 주옵소서.
      그가 하나님을 경외하고 복 받기를 원합니다.</p>

      <p>6) 하나님! 다른 사람의 죄를 용서하여 준 것 같이 우리
      목자의 죄와 목장원의 죄를 사하여 주옵소서.
      하나님만이 죄를 사하는 권세가 있는 줄 믿습니다.</p>

      <p>7) 하나님! 우리 목장이 시험에 들지 않기를 원합니다.
      마귀에게 시험당하지 않기를 원합니다.
      세상으로부터 시험당하지 않기를 원합니다.
      신앙생활에 시험 들지 않기를 원합니다.
      목장생활에 시험 들지 않기를 원합니다.
      물질로 시험당하지 않기를 원합니다.
      사람들로 인하여 시험이 없기를 원합니다.
      가정식구들도 시험이 없기를 원합니다.
      시험을 주는 마귀를 우리 목장에서 내쫒아 주옵시고
      다시는 들어오지 않게 하옵소서.
      천군 천사로 우리 목장을 지켜 주옵소서.</p>

      <p>8) 하나님! 우리 목장을 악에서 구원하여 주옵소서.
      우리 목장과 목장원이 하나님의 법을 어기는 악을 버리게 하옵소서.
      이 악은 우리를 멸망 받게 하나이다.
      그러므로 악에서 구원받아 선한 마음으로 살며 하나님의
      법을 순종하고 복종하게 하옵소서.
      우리 목장과 목장원에게 악은 모양이라도
      버릴 수 있는 믿음을 주옵소서.
      우리 목장원은 연약하오니 하나님께서 악을 이길 수 있는 힘을
      공급하여 주옵시고 악에서 구원하옵소서.</p>

      <p>9) 하나님의 나라와 권세와 영광이 영원히 하나님 아버지께 있사오며,</p>
      <p>10) 예수님의 이름으로 기도드립니다.</p>
      <p>아멘</p>
{% endblock %}
