{% extends "book.html" %}

{% block context %}
      <p>1) 하나님 아버지의 이름이 (나의육신의 아버지/ 어머니) 씨를 통하여
      거룩히 여김 받으시기를 원합니다. 그러므로 (아버지/ 어머니 ) 가
      하나님의 이름을 거룩히 할 일만 행하기를 원합니다.</p>

      <p>2) 하나님의 나라가 나의 (아버지/어머니) 에게 이루어지기를 원합니다.
      그리하여 (아버지 / 어머니 ) 에게 의와 평강과 희락이 항상 있게 하옵소서.
      그리고 (아버지 / 어머니 ) 가 하나님의 통치를 받으며 하나님의 백성답게
      하나님 나라의 법을 지키며 살게 하옵시고.
      하나님 나라의 영광을 위하여 일하게 하옵소서.
      그리고 ( 아버지 / 어머니 ) 를 통하여 하나님 나라가 세상 모든
      사람들에게 전파되기를 원합니다.</p>

      <p>3) 하나님의 뜻이 하늘에서 이루어진 것 같이 땅에서 ( 아버지 / 어머니 ) 에게
      이루어지기를 원합니다.
      또 ( 아버지 / 어머니 ) 를 통하여 하나님의 선하신
      뜻이 이루어지기를 기도합니다.
      하나님의 뜻이 ( 아버지 / 어머니 ) 를 통하여 온 땅에 전파되기를 원합니다.</p>

      <p>4) 하나님께서 ( 아버지 / 어머니 ) 에게 평생동안 일용할 양식을
      공급해 주시기를 원합니다.
      또 세상에서 살아가는데 필요한 것을 공급해 주시기를 원합니다.</p>

      <p>(부모를 위한 중보기도)</p>

      <p>( 아버지 / 어머니 ) 에게 현재 필요한 것들이 많이 있습니다.
      하나님께서 공급하여 주옵소서.
      또 풍성하여 이웃들에게 나누어 주며 살게 하옵소서.
      또한 ( 아버지 / 어머니 ) 주변의 사람들이 모두 구원 받기를 원합니다.
      그들을 구원하시어 하나님의 일꾼으로 사용하여 주옵소서.
      그리고 노년에 영혼이 잘되게 하시며 육신은 건강하게 사시다가
      하나님 나라에 가게 하옵소서.
      또 항상 말씀을 묵상하고 기도하시다가 하나님의 부름을 받게 하옵소서.
      하나님이 부르시는 그날을 생각하며 전도하고 충성하게 하옵소서.
      하나님 나라에 가서 영광 얻을 일을 많이 하게 하옵소서.</p>

      <p>5) 하나님! ( 아버지 / 어머니 ) 의 죄를 용서합니다.
      나에게 상처를 주고 힘들게 하였던 ( 아버지 / 어머니 ) 를 용서합니다.
      예수님의 이름으로 용서합니다.
      그리고 ( 아버지 / 어머니 ) 를 축복합니다.
      하나님을 경외하고 복 받기를 원합니다.</p>

      <p>6) 하나님! 다른 사람의 죄를 용서해 준 것 같이 나의 죄를 용서하여 주옵소서.
      나도 하나님 앞에 죄인입니다.
      하나님만이 죄를 사하는 권세가 있는 줄 믿습니다.
      그리고 ( 아버지 / 어머니 ) 의 죄도 용서하여 주옵소서.</p>

      <p>7) 하나님! ( 아버지 / 어머니 ) 가 시험에 들지 않기를 원합니다.
      마귀에게 시험당하지 않기를 원합니다. 그러므로 마귀에게 시험을 허락지 마옵소서.
      믿음에서 떠나는 시험을 허락하지 마옵소서.
      또 세상에서 시험당하지 않기를 원합니다.
      가난이나 물질, 질병, 불행한 사고, 세상 명예, 돈, 권력으로
      시험당하지 않기를 원합니다.
      교회생활에 시험 들지 않기를 원합니다. 목회자나 성도.
      교회에서 맡겨진 일들로부터 시험 들지 않기를 원합니다.
      ( 아버지 / 어머니 ) 에게 시험이 없기를 기도합니다.</p>

      <p>8) 하나님! ( 아버지 / 어머니 ) 를 악에서 구원하여 주옵소서.
      ( 아버지 / 어머니 ) 에게 하나님의 법을 지키지 않는 악이 있습니다.
      때때로 불순종과 급한 성품 그리고 말로 인한 악에서 ( 아버지 / 어머니 ) 를
      구원하여 주옵소서.
      ( 아버지 / 어머니 ) 가 세상의 욕심의 악에 물들지 않도록 지켜 주옵소서.
      악은 모양이라도 보지 않게 하옵소서. (아버지 / 어머니 ) 는 연약하오니
      하나님께서 악을 이길 수 있는 힘을 공급하여 주옵소서.</p>

      <p>9) 하나님의 나라와 권세와 영광이 영원히 하나님 아버지께 있사오며,</p>
      <p>10) 예수님의 이름으로 기도드립니다.</p>
      <p>아멘</p>

{% endblock %}
