{% extends "book.html" %}

{% block context %}

      <p>1) 하나님 아버지의 이름이 나를 통하여 거룩히
      여김 받으시기를 원합니다.
      또한 나의 남편(아내)을 통하여 거룩히 여김 받으시기 원합니다.</p>

      <p>2) 하나님의 나라가 지금 이 시간에 나에게 이루어지기를 원합니다.
      나와 남편(아내)의 심령에 의와 평강과 희락이 항상 있게 하옵소서.</p>

      <p>3) 하나님의 뜻이 하늘에서 이루어진 것 같이 나와
      남편(아내)을 통하여 이 땅에 이루어지기를 원합니다.</p>

      <p>4) 하나님! 지금 우리 부부사이에 서로를 이해하지 못하고,
      각자의 이기적인 마음 때문에 짜증과 불평과 성내는 마음이 자리 잡고 있습니다.
      서로의 잘못을 인정하지 못하고 내안의 분노를 다스리지 못하고 있습니다.<br>

      모든 죄인들을 품으신 주님의 그 사랑을 받은 자들로써 행하지
      못하고 악을 품고 있습니다.
      하나님! 용서하여 주옵소서.
      하나님 아버지! 부부로 짝 지워주신 하나님의 뜻을 올바로
      깨닫게 하셔서 우리 부부가 서로 돕는 자가 되게 하옵소서.
      서로를 신뢰하게 하옵소서.
      서로에게 지나친 기대를 하기보다 섬기는 자가 되게 하여 주옵소서.
      남편에게 주께 하듯 하고, 아내를 자신의 몸과 같이 사랑하라고
      하신 말씀을 깨닫게 하옵소서.
      파괴적인 말과 습관적인 행동으로 인해 서로에게 상처를 주지 않게 하옵소서.
      또한 상처와 실망으로 인해 우리 부부의 사랑이 사라지거나
      흔들리지 않도록 지켜 주옵소서.
      우리 부부사이의 불화를 조성하게 하는 사탄의 역사를 예수님의
      이름으로 결박하사 물리쳐 주옵소서.
      성령 하나님이 우리들의 마음속에 들어오셔서 통치하여 주시고
      서로 돕고 사랑하고 이해하고 용서하는 부부가 되게 하옵소서.
      환경에 관계 없이 조그만 일에도 머리 숙여 감사할 수 있는 마음을
      주시며 사소한 일도 서로를 배려하고 이해하는 마음을 가지게 하옵소서.
      우리들의 갈등으로 자녀들이 상처 받지 않게 하옵소서.
      우리들이 좋은 가정을 꾸며서 자녀들이 보고 배우게 하옵소서.
      '내가 죽어야 가정이 산다', ' 내가 가정의 십자가를 지고 가야한다'는
      말씀을 마음에 새기며 예수님처럼 오래 참고 살아가게 하옵소서.
      우리 부부가 행복하여 하나님을 기쁘게 하는 부부가
      되게 하여 주시기를 기도합니다.</p>

      <p>5) 하나님! 남편(아내)의 죄를 용서합니다. 나에게 상처를 주고
      힘들게 했던 남편(아내)을 용서합니다.
      예수님의 이름으로 용서합니다.
      남편(아내)이 하나님의 뜻을 이루는 자가 되도록 축복하여 주옵소서.
      하나님이 나를 온전히 말없이 용서하여 주시는 것처럼 나도 용서하게 하옵소서.

      </p><p>6) 하나님! 남편(아내)의 죄를 용서해 주었으니 나의 죄를 용서하여 주옵소서.
      하나님만이 죄를 사하는 권세가 있는 줄 믿습니다.</p>

      <p>7)하나님! 내가 남편(아내)으로 인해 시험에 들지 않기를 원합니다.
      우리 부부를 사탄의 시험에 버려두지 마옵소서.</p>

      <p>8) 하나님! 우리 부부를 악에서 구원하여 주옵소서.
      우리의 마음속에 있는 여러 가지 악에서 구원하셔서
      선한 마음으로 인도해 주옵소서.
      또한 세상의 악에 물들지 않도록 지켜주옵소서.</p>

      <p>9) 하나님의 나라와 권세와 영광이 영원히 하나님 아버지께 있사오며,</p>
      <p>10) 예수님의 이름으로 기도드립니다.</p>
      <p>아멘</p>

{% endblock %}
