{% extends "book.html" %}

{% block context %}

    <p>하나님 아버지의 이름이 거룩히 여김을 받으시기 원합니다. 하나님 나라가 나에게 임하기를 원합니다. 하나님의 뜻이 땅에서 이루어지며 나에게도 이루어지기를 원합니다.</p>

    <p>나의 소원은 (     )입니다. 하나님께서 이루어 주시기를 원합니다.</p>

    <p>하나님의 뜻에 따라 다른 사람 ( 이름 )의 죄를 용서합니다. 그리고 나의 죄도 고백하오니 용서해 주십시오.</p>

    <p>하나님! 내가 시험 들지 않도록 마귀로부터 보호해 주십시오. 그리고 나는 악합니다. 여러 가지 악에서 구해 주십시오.</p>

    <p>나라와 권세와 영광이 하나님 아버지께 영원히 있습니다. 예수님의 이름으로 기도합니다. 아멘.</p>

    <p>할렐루야! 할렐루야! 할렐루야! 할렐루야!</p>

    <p>할렐루야! 할렐루야! 할렐루야! 할렐루야!</p>

    <p>(10분간 기도)</p>

{% endblock %}
