{% extends "book.html" %}

{% block context %}

      <p>1) 예수님의 이름으로 명하노니 내 속에 있는 (   ) 마귀야 지옥불에 떨어질지어다.</p>

      <p>(음행마귀, 더러운마귀, 우상마귀, 원수맺는마귀, 시기마귀, 분냄마귀, 분열마귀, 불평, 불만, 분노, 미움, 비판, 불통, 불신, 악함, 의심, 불충, 불성실, 더러움, 약함, 낙심, 두려움, 슬픔, 무능력, 저주, 괴로움, 추함, 거짓, 고난, 이간질, 혈기, 거역, 걱정, 불순종, 판단, 교만, 나태, 게으름, 시기질투)</p>

      <p>2) 내 속에 있는 악한 영아 내가 너를 경멸하노니 예수님의 이름으로 떠나갈지어다.</p>

      <p>3) 예수님의 이름으로 명하노니 원수마귀야 너와 너의 집이 성령의 불로 소멸되어질지어다.</p>

      <p>4) 예수님의 이름으로 명하노니 원수마귀야 주님의 발 아래서 너의 머리가 박살날지어다.</p>

      <p>5) 예수님의 이름으로 명하노니 보혈의 능력으로 내 몸에서 떠나갈지어다.</p>

      <p>6) 예수님의 이름앞에 두려워 떨며 내 속에서 떠나갈지어다.</p>

      <p>7) 나의 몸과 영혼을 파괴하고 괴롭히는 원수마귀야 예수님의 이름으로 명하노니 지옥으로 들어갈지어다.</p>

      <p>8) 원수마귀야 성령의 검으로 너와 너의 집이 부서질지어다.</p>

      <p>9) 내 속에 있는 악하고 더러운 귀신들아 예수님의 이름으로 떠나갈지어다.</p>

      <p>10) 원수마귀야 예수님의 권세앞에 두려워 떨며 떠나갈지어다.</p>

      <p>아멘.</p>

{% endblock %}
