{% extends "book.html" %}

{% block context %}

      <p>1) 하나님 아버지! 하나님의 이름이 거룩히 여김 받으시기를 원합니다. </p>
      <p>2) 하나님! 공부가 너무 하기 싫어요. 학교에 가도 공부, 집에 와도 공부, 공부 소리만 들으면 머리가 아프고 기분이 나빠져요. 공부하지 않고 사는 방법을 없을까 생각할 때도 많아요. </p>
      <p>3) 하지만 어른들은 공부하지 않는 학생은 미래가 없다고 말씀하세요. 하나님! 나에게도 공부하고 싶어 하는 마음을 주세요. 나도 공부를 잘하는 아이들처럼 공부에 열중하게 해 주세요. 내 노력으로는 잘 안됩니다. 하나님께서 도와주세요. </p>
      <p>4) 공부가 재미있고 머리에 쏙쏙 들어가게 해 주세요. 기억력도 좋게 해 주시고 지혜와 지식의 은사도 주세요. 그래서 나도 하나님의 자녀로서 빛나게 해 주세요. 하나님! 꼭 도와주세요.</p>
      <p>5) 나라와 권세와 영광이 하나님께만 있습니다. 예수님의 이름으로 기도드립니다.</p>
      <p>아멘</p>

{% endblock %}
