{% extends "book.html" %}

{% block context %}

      <p>1) 하나님 아버지의 이름이 거룩하게 여김 받으시기를 원합니다. 내가 하나님의 이름을 거룩하게 하는 사람이 되기를 원합니다. 항상 거룩하게 살도록 노력하겠습니다.</p>

      <p>2) 하나님 나라가 내게 임하여 하나님의 자녀 되기를 원합니다. 하나님께서 내 마음을 다스려 주셔서 영생과 복된 길로 인도해 주세요.</p>

      <p>3) 하나님의 뜻이 나에게 이루어져서 구원받은 백성이 되고, 내가 하나님의 뜻을 알고 그 뜻을 이루어 드리는 사람이 되게 해주세요. 하나님의 뜻에 순종하는 사람이 되게 해주세요.</p>

      <p>4) 하나님! 나에게 중요한 것은 부모님과 좋은 사이가 되는 것입니다. 부모님과 언제나 좋은 사이를 유지하게 해 주세요. 또 교회나 학교에서도 목사님과 선생님과 친구들과 좋은 사이가 되게 해 주세요. 나는 학생이니까 공부에 열심을 갖기 원합니다. 공부에 집중해서 좋은 성적을 올리게 해 주세요. 음악이나 미술, 운동 그리고 여러 가지 다른 것들도 모두 열심히 노력해서 잘하게 됐으면 좋겠어요. 내가 큰 인물이 되어 하나님의 일을 많이 하고 하나님께 영광 돌리고 싶어요. 그래서 하나님과 부모님을 기쁘게 해 드리고 싶어요. 교회에서 예배도 잘 드리고 말씀도 잘 배우고 기도와 찬송도 잘하고 목자도 열심히 잘하고 싶어요. 하나님께서 도와주세요. 또 게으른 습관을 고쳐주셔서 아침에 일찍 일어나 내 준비물은 내가 챙기고 지각하지 않는 부지런한 어린이가 되게 해 주세요. 나에게 주어진 일은 내가 알아서 하는 사람이 되게 해주세요.</p>

      <p>5) 하나님! 나에게 잘못한 사람을 용서합니다. 그 사람이 하나님을 믿고 구원받고 복을 받기 원합니다.</p>

      <p>6) 예수님 말씀에 순종해서 다른 사람을 용서한 것 같이 내 죄도 용서해 주세요. 나에게도 죄가 많이 있어요.</p>

      <p>7) 하나님! 내가 시험에 들지 않도록 지켜주세요. 마귀가 여러 가지로 나를 시험해요. 컴퓨터나 텔레비전에 중독되지 않게 해 주세요. 게임이나 만화에 중독되지 않게 해 주세요. 먹는 것에 너무 욕심 부리지 않게 해 주세요. 공부하기 싫어하는 마음이 생기지 않게 해 주세요. 남의 물건을 훔치는 버릇이 생기지 않게 해 주세요. 이런 여러가지 시험에 빠지지 않게 하나님이 지켜 주셔서 시험을 이기게 해주세요. 끝까지 나를 버리지 말고 보호해 주세요.</p>

      <p>8) 하나님! 나에게는 많은 악이 있어요. 게으른 악이 있어요. 게으름에서 구원해 주세요. 욕하는 악이 있어요. 욕하는 악에서 구원해 주세요. 짜증내는 악이 있어요. (   )하는 악이 있어요. (   )하는 악에서 구원해 주세요.</p>

      <p>9) 하나님의 나라와 권세와 영광이 하나님 아버지께 있습니다.</p>

      <p>10) 예수님의 이름으로 기도드립니다.</p>

      <p>아멘</p>

{% endblock %}
