{% extends "book.html" %}

{% block context %}

    <p>1) 하나님 아버지! 하나님의 이름이 거룩히 여김 받으시기를 원합니다. (친구 이름)가 하나님의 이름을 거룩히 여기고 행동하게 해 주세요.</p>
    <p>2) 하나님 나라가 (친구 이름)의 마음에 임하게 해 주세요. 그래서 (친구 이름)의 마음 속에 천국이 이루어지게 해 주세요.</p>
    <p>3) 하나님의 뜻이 하늘에서 이루어진 것같이 (친구 이름)에게도 이루어지기를 원합니다. (친구 이름)가 하나님의 뜻을 깨닫고 이루어 드리는 사람이 되게 해 주세요.</p>
    <p>4) 하나님! (친구 이름)에게 지혜와 지식과 명철의 은사를 주세요. 건강한 몸과 마음으로 하나님을 잘 섬겨서 복 받는 친구가 되게 해 주세요.
    <br>(친구 이름)가 하나님을 더 잘 믿고 교회생활도 더 잘하기를 원합니다. 하나님의 말씀을 듣고 순종하는 사람이 되게 해 주세요. 예배를 중요하게 여기고 주일을 잘 지켜 하나님께 사랑받는 친구가 되게 해 주세요.</p>
    <p>5) 하나님! (친구 이름)가 자기를 화나게 하고 힘들게 한 사람을 용서하게 해 주세요. 그리고 자기를 괴롭힌 사람들이 복 받기를 기도해 주는 친구가 되게 해 주세요.</p>
    <p>6) 하나님 말씀에 순종하여 다른 사람의 잘못을 용서해 준 것 같이 (친구 이름)의 잘못도 용서해 주세요. (친구 이름)에게도 잘못이 있어요. 예수님의 보혈로 사함을 주세요.</p>
    <p>7) 하나님 아버지! (친구 이름)가 시험에 들지 않도록 마귀로부터 지켜 주세요. 교회나 가정에서 학교에서 또 친구들 때문에 시험들지 않게 해 주세요.</p>
    <p>8) (친구 이름)를 악에서 구원해 주세요. (친구 이름)에게 악이 있어요. 불만을 갖고 불평하는 악이 있어요. 신경질 내는 악이 있어요. 부모님 말씀에 불순종하려는 악이 있어요. 교회에서 떠드는 악이 있어요. 예배 시간에 장난치는 악이 있어요. 성경말씀에 불순종하는 악이 있어요. (      ) 악이 있어요. 이 악에서 구원해 주세요.</p>
    <p>9) 나라와 권세와 영광이 하나님 아버지께 있습니다.</p>
    <p>10) 예수님의 이름으로 기도드립니다.    </p>
    <p>아멘</p>

{% endblock %}
