{% extends "book.html" %}

{% block context %}
      <p>1) 하나님 아버지! 하나님의 이름이 거룩하게 여김 받으시기를 원합니다. </p>

      <p>2) 하나님! 내가 요즘 교회에 가기 싫어져요. 마귀가 나를 병들게 해서 하나님을 믿는 믿음을 떨어지게 합니다. 그래서 하나님께 기도드립니다.</p>

      <p>3) 내 믿음을 떨어뜨리는 마귀를 쫓아주셔서 다시 믿음이 회복되게 해 주세요. 찬송 부르고 엎드려 기도하고 교회에 가는 것이 즐겁게 해주세요.
        하나님은 나의 하나님이십니다.<br>
        하나님은 나의 전능자이십니다.<br>
        하나님은 나의 창조주이십니다.<br>
        하나님은 나의 구원자이십니다.<br>
        하나님은 나의 치료자이십니다.<br>
        하나님은 나의 생명이십니다.<br>
        하나님은 나의 소망이십니다.<br>
        하나님은 나의 평안이십니다.<br>
        하나님은 나의 능력이십니다.<br>
        하나님은 나의 축복이십니다.<br>
        하나님은 나의 반석이시며, 산성이십니다.<br>
        나의 힘이 되신 하나님을 사랑합니다.</p>

      <p>4) 나의 믿음을 떨어뜨리는 마귀는 나의 마음속에서 떠나가라! 예수님의 이름으로 명령하니 떠나가라! (3번 반복)</p>

      <p>5) 나라와 권세와 영광이 하나님께만 있음을 고백합니다. 예수님의 이름으로 기도드립니다.</p>

      <p>아멘</p>

{% endblock %}
