{% extends "book.html" %}

{% block context %}

    <p>1) 하나님 아버지의 이름이 우리 목장과 목장원들을 통해 거룩히 여김 받으시기를 원합니다. 우리 목장과 목장원들이 하나님의 이름을 거룩하게 하는 일들만 하게 해 주세요.</p>
    <p>2) 하나님의 나라가 우리목장과 목장원들에게 임해서 의와 평강과 기쁨이 있게 해 주세요. 또 하나님이 왕이 되셔서 다스려 주세요.</p>
    <p>3) 하나님의 뜻이 우리 목장과 목장원들에게 이루어지게 해 주세요. 그래서 모두 구원받고 하나님의 뜻을 알아 감사드리고 하나님의 뜻을 이루어 드리는 순종하는 사람들이 되게 해 주세요.</p>
    <p>4) 하나님! 이 시간에 죄인들을 구원해 주시고 세상과 마귀로부터 지켜 주신 은혜에 감사해서 예배를 드립니다. 우리에게 필요한 일용할 양식과 편하게 쉴 수 있는 곳을 주시고 건강을 주셔서 감사합니다.
    <br>여러 가지 하나님의 은혜에 감사해서 몸과 마음과 물질을 드려 경배합니다. 그리고 마음과 뜻과 힘을 다하여 하나님을 사랑합니다. 우리가 드리는 예배를 받아주세요.
    <br>하나님! 우리 목장이 크게 부흥하기를 원합니다. 목장원들이 믿음생활을 잘하고 순종하며 말씀을 잘 배워서 믿음의 사람들이 되게 해 주세요.</p>
    <p>5) 하나님! 우리에게 고통을 주고 상처를 준 사람들을 용서합니다. 그 사람들이 하나님을 믿고 구원받아서 복 받게 해 주세요.</p>
    <p>6) 우리가 예수님 말씀에 순종해서 우리에게 잘못한 사람들을 용서해 준 것 같이 우리의 잘못도 용서해 주세요. 예수님의 보혈로 사해 주세요.</p>
    <p>7) 하나님! 우리 목장과 목장원들이 시험에 들지 않게 해 주세요. 마귀가 시험하지 못하도록 지켜 주세요.</p>
    <p>8) 우리 목장과 목장원들을 악에서 구원해 주세요. 우리에게는 많은 악들이 있습니다. 그 악을 깨닫게 해 주시고 악에서 구원해 달라고 기도하는 목장원들이 되게 해 주세요. 그래서 악에서 구출되고 변화되어 하나님을 기쁘게 하는 목장원들이 되게 해 주세요.</p>
    <p>9) 나라와 권세와 영광이 영원히 하나님 아버지께만 있습니다.</p>
    <p>10) 예수님의 이름으로 기도드립니다.</p>
    <p>아멘</p>

{% endblock %}
