{% extends "book.html" %}

{% block context %}

      <p>1) 하나님 아버지! 하나님의 이름이 거룩히 여김 받으시기를 원합니다. </p>
      <p>2) 하나님! 친구에게 배신을 당했어요. 마음이 너무 괴로워서 잠도 오지 않아요. 머릿속이 복잡하고 많은 생각이 나요. 분하기도 하고 그 친구가 밉고 원망스러워요. </p>
      <p>3) 하나님! 가롯 유다가 예수님을 배신했을 때 예수님은 얼마나 괴로우셨을까요? 지금 나보다 더 괴로운 것을 참으신 예수님이 생각나요. 나도 억울하고 괴롭지만 참고 예수님이 “이웃을 사랑하라”고 하셨으니까 순종할게요.</p>
      <p>4) 나를 배신한 친구를 용서합니다. 그 친구 용서합니다. 그리고 그 친구가 하나님을 잘 믿고 구원받아 복 받는 친구가 되기를 원합니다.</p>
      <p>5) 나라와 권세와 영광이 하나님께만 있음을 고백합니다. 예수님의 이름으로 기도드립니다.</p>

      <p>아멘</p>

{% endblock %}
