{% extends "book.html" %}

{% block context %}

    <p>1) 하나님 아버지의 이름이 ○○부 담당 목사님(전도사님)을 통해 거룩히 여김 받으시기를 원합니다. 목사님(전도사님)이 하나님의 이름을 거룩하게 하는 일만 하게 해 주세요.</p>
    <p>2) 하나님의 나라가 목사님(전도사님)에게 임해 있기를 원합니다. 그래서 목사님에게 늘 의와 평강과 기쁨이 있게 해 주세요. 또 하나님이 왕이 되어 다스려 주세요.</p>
    <p>3) 하나님의 뜻이 목사님(전도사님)에게 이루어지기를 원합니다. 그래서 사람들을 구원시키고 하나님의 뜻을 전하게 해 주세요.</p>
    <p>4) 목사님(전도사님)에게 영력과 지력과 체력을 주시고, 능력을 주셔서 하나님을 위해 큰일을 하게 해 주세요.</p>
    <p>5) 하나님! 목사님(전도사님)에게 고통을 주고 상처를 준 사람들이 있습니다. 목사님(전도사님)에게 그 사람들을 용서하는 사랑이 있게 해 주세요. 그 사람들을 용서하는 사랑이 있게 해 주세요. 목사님(전도사님)에게 고통을 주었던 사람들이 하나님을 믿고 구원받아서 복 받게 해 주세요.</p>
    <p>6) 예수님 말씀에 순종해 죄 지은 사람들을 용서해 준 것같이 목사님(전도사님)의 죄도 용서해 주세요.</p>
    <p>7) 하나님! 목사님(전도사님)이 시험에 들지 않게 해 주세요. 마귀가 시험하지 못하게 어디서든 지켜 주세요.</p>
    <p>8) 그리고 여러 가지 나쁜 악에서 목사님(전도사님)을 구해 주세요.</p>
    <p>9) 나라와 권세와 영광이 영원히 하나님 아버지께만 있음을 고백합니다.</p>
    <p>10) 예수님의 이름으로 기도드립니다.</p>
    <p>아멘</p>

{% endblock %}
