{% extends "book.html" %}

{% block context %}

      <p>1) 하나님 아버지의 이름이 나를 통하여 거룩히
      여김 받으시기를 원합니다.
      그러나 오랫동안 하나님의 이름을 거룩히 여기지 못하였음을 회개합니다.
      나는 하나님의 이름을 욕되게 한 일들이 많이 있습니다.
      나의 말들과 행동, 그리고 마음의 생각이 하나님의 이름을 욕되게 하였습니다.
      십계명의 제3계명인 "여호와의 이름을 망령되이 일컫지 말라"
      하신 것을 어겼습니다. 이러한 나의 죄를 예수 그리스도의 십자가의
      은혜로 사하여 주옵소서.</p>

      <p>2) 하나님의 나라가 내게 이루어지기를 원합니다. 그리하여
      내 심령에 의와 평강과 희락이 항상 있게 하옵소서.
      내가 하나님의 통치를 받으며 하나님의 백성답게 하나님 나라의
      법을 지키며 살게 하옵시고, 하나님 나라의 영광을 위하여 일하게 하옵소서.
      그리고 나를 통하여 하나님 나라가 세상 모든 사람들에게 전파되기를 원합니다.
      그동안 나의 심령 속에 하나님의 나라가 임한 증거가
      없었습니다.(롬14:17) "하나님의 나라는 먹는것과
      마시는 것이 아니요 오직 성령 안에서 의와 평강과 희락이라"고
      하였는데 '의와 평강과 희락'이 없었습니다.
      이런 것보다는 세상의 부귀와 향락을 더 좋아했음을 회개합니다.
      용서하여 주옵소서. 이제는 성령님이 주시는 '의와 평강과 희락'이
      심령에 항상 있게 하사 천국을 이루고 살게 하옵소서.</p>

      <p>3) 하나님의 뜻이 하늘에서 이루어진 것 같이 땅에서 나에게
      이루어지기를 원합니다.
      그리고 나를 통하여 하나님의 뜻이 세상에 이루어지기를 원합니다.
      그동안 하나님의 뜻을 이루어 드리지 않고
      나의 뜻을 이루기 위해서 살았습니다.
      교회생활도 나의 뜻을 이루기 위해서 했고, 기도도 나의 뜻을
      이루기 위해서 하였습니다.
      입으로는 하나님의 뜻을 이룬다고 하면서도 실제로는 나의 뜻을
      이루기 위해서 분주하게 살았습니다. 하나님! 용서해 주옵소서.
      나의 믿음 없는 것과 욕심이 죄를 범하였습니다. 진심으로 회개합니다.
      남은 생애는 하나님의 뜻을 이루기 위해서 살겠습니다.</p>

      <p>4) 하나님께서 나에게 평생 동안 일용할 양식을 공급해 주시기를 원합니다.
      하나님께서 일용할 양식을 구하라고 하셨는데 구하지 않은 것을 회개합니다.
      게으름과 믿음 없는 행동을 보였습니다.
      그러면서 항상 환경에 불만, 불평, 원망을 하며 살았습니다.
      뿐만 아니라 주변 사람들에게도 불만, 불평만 하였습니다.
      구약 성경에 이스라엘 백성들이 광야에서
      불만, 불평의 죄를 지어 벌을 받은 것을 알면서도 같은 죄를 범하였습니다.
      마음과 입으로 범죄하였사오니 용서하여 주옵소서.<br>
      그 외에도 하나님 앞에 부끄러운 죄들이 많이 있습니다. 너무 많아서 죄송합니다.<br>
      기도하지 않은 죄, 교회 사명을 감당하지 않은죄, 가정에
      충실하지 못한 죄, 부모와 자녀들에게 잘못한죄, 십자가 지고 가지 못한죄,
      자아를 죽이지 못한 죄, 음란한 죄 등 많이 있습니다. 이 모든 죄를
      회개하며 용서를 구합니다. 모두 사하여 주옵소서.
      그리고 다시는 같은 죄를 범하지 않도록 믿음을 주옵소서.</p>

      <p>5) 하나님! 다른 사람의 죄를 용서합니다.
      나에게 상처를 주고 힘들게 하였던 사람들을 용서합니다.
      예수님의 이름으로 용서합니다.
      그리고 그를 축복합니다.
      그가 하나님을 경외하고 복 받기를 원합니다.
      지금까지는 다른 사람의 죄를 용서하지 못했습니다.
      하나님의 말씀을 안다고 하면서도 실제로는 무지하였습니다.
      나의 죄가 사함 받지 못하는 이유를 알게 되었습니다.
      그래서 마음의 상처가 치유되지 않고, 곤고하고, 성품이 변화되지 않고,
      사소한 일로 시험 들고, 복을 못 받고, 자주 넘어지고,
      세상사는 것이 힘이 든 것을 알았습니다.
      또 나의 죄가 그들의 죄보다 더 크다는 것을 알았습니다.
      이 시간에 진심으로 회개합니다.
      나의 죄를 그리스도의 십자가의 은혜로 사하여 주옵소서.</p>

      <p>6) 하나님! 다른 사람의 죄를 용서해 준 것 같이
      나의 죄를 사하여 주옵소서.
      하나님만이 죄를 사하는 권세가 있는줄 믿습니다.
      그리하여 나의 마음에 평안과
      기쁨과 소망을 주옵소서.</p>

      <p>7) 하나님 ! 내가 시험에 들지 않기를 원합니다.
      마귀에게 시험당하지 않기를 원합니다.
      그동안 하나님께서 지켜 주심으로 욥처럼 마귀에게 시험하라고
      허락하지 않아 현재 내가 존재하는 것을 알았습니다.
      그런데 내가 잘해서 시험이 없는 줄 착각하고 살았습니다.
      내가 교만과 오만한 마음으로 살았던 것을 회개합니다.
      앞으로도 하나님께서 마귀로부터 지켜 주옵소서.
      세상에 시험당하지 않기를 원합니다.
      물질이나 명예로 시험당하지 않기를 원합니다.
      신앙생활에 시험 들지 않기를 원합니다.
      교회생활에 시험 들지 않기를 원합니다.
      가정에서 시험에 들지 않기를 원합니다.
      내가 시험에 들지 않도록 지켜 주옵소서.</p>

      <p>8) 하나님! 나를 악에서 구원하여 주옵소서.
      나의 마음속에는 악이 가득합니다.
      사탄이 마음속에 악을 넣었습니다.
      나의 마음속에는 불평, 불만, 미움, 시기, 질투, 욕심,
      원망, 정죄, 비판, 욕, 저주, 거짓, 불신앙, 불충, 불성실, 불순종,
      인색함, 음란, 음행, 간음, 낙심, 슬픔, 우울함, 실망, 자살,
      교만, 오만, 거역, 이기심, 나태, 게으름, 무사안일, 혈기, 신경질,
      자랑, 더러운 마음, 배신 등의 악이 가득했습니다.
      이러한 죄를 회개합니다.
      그리고 이 악에서 구원받기를 원합니다.
      그러므로 이 악에서 나를 구원하여 선한 마음으로 인도하여 주옵소서.
      나를 세상의 악에 물들지 않도록 지켜 주옵소서.
      나는 연약하오니 하나님께서 악을 이길 수 있는 힘을 공급하여 주옵소서.</p>

      <p>9) 하나님의 나라와 권세와 영광이 영원히 영원히, 하나님 아버지께 있사오며,</p>
      <p>10) 예수님의 이름으로 기도드립니다.</p>
      <p>아멘</p>

{% endblock %}
