<!DOCTYPE html>
<html lang="ko">
<head>
<title>Episode</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="My Podcast template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="../static/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../static/styles/book.css">
<link rel="stylesheet" type="text/css" href="../static/styles/book_responsive.css">

</head>
<body>

<div class="super_container">

	<!-- Home -->
	<div class="home fixed-top trans_200">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-speed="0.8">
            <div class="home_container trans_200">
                <!-- Hamburger -->
                <div class="row">
                    <div class="offset-11 col-1">
                        <div class="header_right hamburger">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="home_title">
                        <h1>
                            {% block title %}{% endblock %}
                        </h1>
                    </div>
                    <div class="home_subtitle">
                        {% block subtitle %}{% endblock %}
                    </div>
                </div>
		    </div>
        </div>

		<div class="home_player_container">
			<div class="container">
				<div class="row">
					<!-- Episode -->
                    <div class="player d-flex flex-row align-items-start justify-content-start s1">
                        <div class="player_content">

                            <!-- Player -->
                            <div class="single_player_container">

                                <div class="single_player d-flex flex-row align-items-center justify-content-start">
                                    <div id="jplayer_1" class="jp-jplayer"></div>
                                    <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                                        <div class="jp-type-single">
                                            <div class="player_controls">
                                                <div class="jp-gui jp-interface d-flex flex-row align-items-center justify-content-start">
                                                    <div class="jp-controls-holder time_controls d-flex flex-row align-items-center justify-content-between">
                                                        <div>
                                                            <div class="jp-controls-holder play_button ml-auto">
                                                                <button class="jp-play" tabindex="0"></button>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="jp-progress">
                                                                <div class="jp-seek-bar">
                                                                    <div class="jp-play-bar"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="jp-volume-controls d-flex flex-row align-items-center justify-content-between ml-auto">
                                                        <div class="d-flex flex-row align-items-center justify-content-start">
                                                            <button class="jp-mute" tabindex="0"></button>
                                                        </div>
                                                        <div class="d-flex flex-row align-items-center justify-content-start">
                                                            <div class="jp-volume-bar">
                                                                <div class="jp-volume-bar-value"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>

    <!-- Menu -->
	<div class="menu">
		<div class="menu_content justify-content-center">
            <div class="row justify-content-end">
                <i class="fa fa-times fa-4x menu_close" aria-hidden="true"></i>
            </div>
            <!-- Menu Contents-->
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-3 col-md-4 col-lg-5 text-right">
                    <i id="font-sizeup" class="fa fa-minus-circle fa-2x"></i>
                </div>
                <div class="col-6 col-md-4 col-lg-2 title">
                    <span>글씨크기</span>
                </div>
                <div class="col-3 col-md-4 col-lg-5 text-left">
                    <i id="font-sizeup" class="fa fa-plus-circle fa-2x"></i>
                </div>
            </div>

            <div class="row d-flex align-items-center justify-content-center mt-5">
                <span class="title">다크모드</span>
                <i class="fa fa-check-square-o fa-2x"></i>
            </div>

		</div>
	</div>

	<!-- Episode -->

	<div class="episode_container">
		<div class="container">
            <!-- Episode -->
            <div class="episode_col">
                <div class="intro">
                    <div class="context">
                        {% block context %}
                        {% endblock %}
                    </div>
                </div>
            </div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row footer_content_row">

				<!-- Other Episodes -->
				<div class="col-lg-12">
					<div class="footer_title">
                        <h2>다른 기도문</h2>
                    </div>
					<div class="latest_container">

						<!-- Other 1 -->
						<div class="latest">
							<div class="latest_title_container d-flex flex-row align-items-start justify-content-start">
								<a href="book.html">
									<div class="d-flex flex-row align-items-start justify-content-start">
										<div class="latest_play">
											<div class="show_fav_icon show_info_icon"><img class="svg" src="../static/images/bookmark.svg" alt=""></div>
										</div>
										<div class="latest_title_content ml-2">
											<div class="latest_title">태신자를 위한 기도</div>
										</div>
									</div>
								</a>
							</div>
							<div class="latest_episode_info ml-2">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a href="#">2020-09-16</a></li>
									<li><a href="#">조회수 30회</a></li>
								</ul>
							</div>
						</div>
                        <!-- Other 2 -->
						<div class="latest">
							<div class="latest_title_container d-flex flex-row align-items-start justify-content-start">
								<a href="book.html">
									<div class="d-flex flex-row align-items-start justify-content-start">
										<div class="latest_play">
											<div class="show_fav_icon show_info_icon"><img class="svg" src="../static/images/bookmark.svg" alt=""></div>
										</div>
										<div class="latest_title_content ml-2">
											<div class="latest_title">목장을 위한 기도</div>
										</div>
									</div>
								</a>
							</div>
							<div class="latest_episode_info ml-2">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a href="#">2020-09-16</a></li>
									<li><a href="#">조회수 12회</a></li>
								</ul>
							</div>
						</div>
                        <!-- Other 3 -->
						<div class="latest">
							<div class="latest_title_container d-flex flex-row align-items-start justify-content-start">
								<a href="book.html">
									<div class="d-flex flex-row align-items-start justify-content-start">
										<div class="latest_play">
											<div class="show_fav_icon show_info_icon"><img class="svg" src="../static/images/bookmark.svg" alt=""></div>
										</div>
										<div class="latest_title_content ml-2">
											<div class="latest_title">나라를 위한 기도</div>
										</div>
									</div>
								</a>
							</div>
							<div class="latest_episode_info ml-2">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a href="#">2020-09-16</a></li>
									<li><a href="#">조회수 2회</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
</br></br><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			
		</div>
	</footer>
</div>

<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/styles/bootstrap-4.1.2/popper.js"></script>
<script src="../static/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="../static/plugins/greensock/TweenMax.min.js"></script>
<script src="../static/plugins/greensock/TimelineMax.min.js"></script>
<script src="../static/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="../static/plugins/greensock/animation.gsap.min.js"></script>
<script src="../static/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="../static/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="../static/plugins/jPlayer/jquery.jplayer.min.js"></script>
<script src="../static/plugins/jPlayer/jplayer.playlist.min.js"></script>
<script src="../static/plugins/easing/easing.js"></script>
<script src="../static/plugins/progressbar/progressbar.min.js"></script>
<script src="../static/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="../static/plugins/parallax-js-master/parallax.min.js"></script>
<script src="../static/js/book.js"></script>
</body>
</html>