<!DOCTYPE html>
<html lang="ko">
<head>
<title>{{ book_list[book_id]['title'] }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="기도훈련집">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="../static/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../static/styles/book.css">
<link rel="stylesheet" type="text/css" href="../static/styles/book_responsive.css">
</head>
<body>

<div class="super_container">

	<!-- Home -->
	<div class="home trans_200">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-speed="0.8" style="background-image: url({{ book_list[book_id]['image'] }});">
            <div class="home_container trans_200">
                <div class="text-center">
                    <div class="home_title">
                        <h1>
                            {{ book_list[book_id]['title'] }}
                        </h1>
                    </div>
                    <div class="home_subtitle">
                        이 기도문으로 {{ book_list[book_id]['watch'] }}번의 기도가 쌓였습니다
                    </div>
                </div>
		    </div>
        </div>

		<div class="home_player_container">
			<div class="container">
				<div class="row">
					<!-- Episode -->
                    <div class="player d-flex flex-row align-items-start justify-content-start s1">
                        <div class="player_content">

                            <!-- Player -->
                            <div class="single_player_container">

                                <div class="single_player d-flex flex-row align-items-center justify-content-start">
                                    <div id="jplayer_1" class="jp-jplayer" value="{{ book_list[book_id]['mp3'] }}"></div>
                                    <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                                        <div class="jp-type-single">
                                            <div class="player_controls">
                                                <div class="jp-gui jp-interface d-flex flex-row align-items-center justify-content-start">
                                                    <div class="jp-controls-holder time_controls d-flex flex-row align-items-center justify-content-between">
                                                        <div>
                                                            <div class="jp-controls-holder play_button ml-auto">
                                                                <button class="jp-play" tabindex="0"></button>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="jp-progress">
                                                                <div class="jp-seek-bar">
                                                                    <div class="jp-play-bar"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="jp-volume-controls d-flex flex-row align-items-center justify-content-between ml-auto">
                                                        <div class="d-flex flex-row align-items-center justify-content-start">
                                                            <button class="jp-mute" tabindex="0"></button>
                                                        </div>
                                                        <div class="d-flex flex-row align-items-center justify-content-start">
                                                            <div class="jp-volume-bar">
                                                                <div class="jp-volume-bar-value"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>

	<!-- Episode -->

	<div class="episode_container">
		<div class="container">
            <!-- Episode -->
            <div class="episode_col">
                <div class="intro">
                    <div class="context">
                        {% block context %}
                        {% endblock %}
                    </div>
                </div>
            </div>
		</div>
	</div>

	<!-- Footer -->
	<footer class="footer">
		<div class="container">
            <!-- 이전, 목록, 다음 -->
            <div class="btn-container d-flex justify-content-between align-self-center">
                {% if book_id > 0 %}
                    <a href="{{ book_id - 1 }}"><div class="show_fav_icon"><img class="svg icon-middle" src="../static/images/angle-left.svg"> 이전</div></a>
                {% else %}
                    <a href="{{ book_list.__len__() - 1 }}"><div class="show_fav_icon"><img class="svg icon-middle" src="../static/images/angle-double-left.svg"> 마지막으로</div></a>
                {% endif %}
                <a href="/"><div id="list-btn" class="show_fav_icon">목록으로</div></a>

                {% if book_id < book_list.__len__() - 1 %}
                    <a href="{{ book_id + 1 }}"><div class="show_fav_icon">다음 <img class="svg icon-middle" src="../static/images/angle-right.svg"></div></a>
                {% else %}
                    <a href="0"><div class="show_fav_icon">처음으로 <img class="svg icon-middle" src="../static/images/angle-double-right.svg"></div></a>
                {% endif %}
            </div>

			<div class="row footer_content_row">
				<!-- Other Episodes -->
				<div class="col-lg-12">
					<div class="footer_title">
                        <h2>다른 기도문</h2>
                    </div>
					<div class="latest_container">

                        {% for book in book_list[book_id - 2:book_id] + book_list[book_id + 1:book_id + 3] %}
						<!-- Other 1 -->
						<div class="latest">
							<div class="latest_title_container d-flex flex-row align-items-start justify-content-start">
								<a href="{{ book['id'] }}">
									<div class="d-flex flex-row align-items-start justify-content-start">
										<div class="latest_play">
											<div class="show_fav_icon icon-small"><img class="svg" src="../static/images/bookmark.svg"></div>
										</div>
										<div class="latest_title_content ml-2">
											<div class="latest_title">{{ book['title'] }}</div>
										</div>
									</div>
								</a>
							</div>
							<div class="latest_episode_info ml-2">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a href="{{ book['id'] }}">{{ book['update'] }}</a></li>
									<li><a href="{{ book['id'] }}">조회수 {{ book['watch'] }}회</a></li>
								</ul>
							</div>
						</div>
                        {% endfor %}
					</div>
				</div>
			</div>
</br></br><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All Rights Reserved. <a href="https://52ch.kr/" target="_blank">오병이어교회.</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

		</div>
	</footer>
</div>

<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/styles/bootstrap-4.1.2/popper.js"></script>
<script src="../static/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="../static/plugins/greensock/TweenMax.min.js"></script>
<script src="../static/plugins/greensock/TimelineMax.min.js"></script>
<script src="../static/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="../static/plugins/greensock/animation.gsap.min.js"></script>
<script src="../static/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="../static/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="../static/plugins/jPlayer/jquery.jplayer.min.js"></script>
<script src="../static/plugins/jPlayer/jplayer.playlist.min.js"></script>
<script src="../static/plugins/easing/easing.js"></script>
<script src="../static/plugins/progressbar/progressbar.min.js"></script>
<script src="../static/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="../static/plugins/parallax-js-master/parallax.min.js"></script>
<script src="../static/js/book.js"></script>
</body>
</html>