<!DOCTYPE html>
<html lang="ko">
<head>
<title>{{ book_list[book_id]['title'] }}</title>
<meta charset="UTF-8">
<meta name="keywords" content="기도훈련집, 기도문, 오병이어교회, {{ book_list[book_id]['title'] }}">
<meta name="description" content="오병이어교회 기도훈련집 {{ book_list[book_id]['title'] }}">
<meta name="author" content="오병이어교회">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">

<link rel="stylesheet" type="text/css" href="../static/styles/bootstrap-4.1.2/bootstrap.min.css">
<link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>
<link rel="stylesheet" type="text/css" href="../static/styles/book.css?version={{ version }}">
<link rel="stylesheet" type="text/css" href="../static/styles/book_responsive.css?version={{ version }}">

</head>
<body>

<div class="super_container">

	<!-- Modal -->
    <div id="modal-page" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <scan class="modal-title size-modal-header weight-1">환경설정</scan>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="dropdown">

                        <button class="btn btn-primary-outline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <svg width="26px" height="26px" viewBox="0 0 16 16" class="bi bi-file-earmark-music" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                                <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
                                <path fill-rule="evenodd" d="M9.757 5.67A1 1 0 0 1 11 6.64v1.75l-2 .5v3.61c0 .495-.301.883-.662 1.123C7.974 13.866 7.499 14 7 14c-.5 0-.974-.134-1.338-.377-.36-.24-.662-.628-.662-1.123s.301-.883.662-1.123C6.026 11.134 6.501 11 7 11c.356 0 .7.068 1 .196V6.89a1 1 0 0 1 .757-.97l1-.25z"/>
                            </svg>
                            <scan class="modal-subheader size-modal-subheader">음원 다운로드</scan>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="/download/{{ book_id }}">나레이션 mp3 다운로드</a></li>
                        </ul>
                    </div>
                </div>
                <!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger">적용</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
                -->

            </div>
        </div>
    </div>

	<!-- Header -->
	<div class="header-container" style="background-image: url({{ book_list[book_id]['image'] }});">

        <!-- Header Icons -->
        <div class="header header-icon-container d-flex justify-content-end">
            <button type="button" class="btn btn-primary-outline" data-toggle="modal" data-target="#modal-page">
                <svg width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-gear-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
                </svg>
            </button>
            <!--
            <a href="/download/{{ book_id }}">
                <div class="header-btn icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 132"><path d="M99.1,113.7c2.6,0,4.7-2.1,4.7-4.7V79.9h11.2v29.8c0,8.4-6.8,15.2-15.2,15.2H18.5c-8.4,0-15.2-6.8-15.2-15.2V79.9h11.2V109  c0,2.6,2.1,4.7,4.7,4.7H99.1L99.1,113.7z M37.1,17.7h43.9V57h16.8L59.1,94.8L20.4,57h16.8V17.7L37.1,17.7z"/></svg>
                </div>
            </a>
            -->
        </div>

        <!-- Header Titles -->
        <div class="header header-title-container center-all d-flex flex-column">
            <div class="header-title size-header weight-1">
                {{ book_list[book_id]['title'] }}
            </div>
            <div class="header-subtitle size-subheader weight-2">
                {{ book_id + 1 }}번 | 조회수 {{ book_list[book_id]['watch'] }}회
            </div>
        </div>

        <!-- Header Music Player -->
		<div class="player_container">
			<div class="container">
				<div class="row">
                    <div class="player d-flex flex-row align-items-start justify-content-start">
                        <div class="player_content">

                            <div class="single_player_container">
                                <div class="single_player d-flex flex-row align-items-center justify-content-start">
                                    <div id="jplayer_1" class="jp-jplayer" value="{{ book_list[book_id]['mp3'] }}"></div>
                                    <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                                        <div class="jp-type-single">
                                            <div class="player_controls">
                                                <div class="jp-gui jp-interface d-flex flex-row align-items-center justify-content-start">
                                                    <div class="jp-controls-holder time_controls d-flex flex-row align-items-center justify-content-between">
                                                        <div class="jp-controls-holder play_button ml-auto">
                                                            <button class="jp-play" tabindex="0"></button>
                                                            <button class="jp-stop" tabindex="1"></button>
                                                        </div>
                                                        <div class="jp-progress">
                                                            <div class="jp-seek-bar">
                                                                <div class="jp-play-bar"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--
                                    <div id="jplayer_2" class="jp-jplayer" value="{{ book_list[book_id]['bgm'] }}"></div>
                                    <div id="jp_container_2" class="jp-audio" role="application" aria-label="media player">
                                        <div class="jp-type-single">
                                            <div class="player_controls">
                                                <div class="jp-gui jp-interface d-flex flex-row align-items-center justify-content-start">
                                                    <div class="jp-volume-controls d-flex flex-row align-items-center justify-content-between ml-auto">
                                                        <button class="jp-mute" tabindex="0"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    -->
                                </div>
                            </div>

                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
    <!-- Header End -->

	<!-- Context -->
	<div class="context-container">

        <!-- 이전, 목록으로, 다음 -->
        <div class="btn-container d-flex justify-content-between align-self-center">

            <!-- 이전 -->
            {% if book_id > 0 %}
                <a href="{{ book_id - 1 }}">
                    <div class="move-btn icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" height="100%" width="100%"><path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"/></svg>
                    </div>
                </a>
            {% else %}
                <a href="{{ book_list.__len__() - 1 }}">
                    <div class="move-btn icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" height="100%" width="100%"><path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"/></svg>
                    </div>
                </a>
            {% endif %}

            <!-- 목록으로 -->
            <a href="/home"><div class="list-btn icon size-tolist weight-1 accent-shadow">목록으로</div></a>

            <!-- 다음 -->
            {% if book_id < book_list.__len__() - 1 %}
                <a href="{{ book_id + 1 }}">
                    <div class="move-btn icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" height="100%" width="100%"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
                    </div>
                </a>
            {% else %}
                <a href="0">
                    <div class="move-btn icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" height="100%" width="100%"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
                    </div>
                </a>
            {% endif %}
        </div>

        <!-- 본문 글 -->
        <div class="context size-context weight-2">
            [클로바더빙으로 제작한 AI 보이스 입니다] <br><br>
            {% block context %}
            {% endblock %}
        </div>

        <!-- 이전, 목록, 다음 -->
        <div class="btn-container d-flex justify-content-between align-self-center">

            <!-- 이전 -->
            {% if book_id > 0 %}
                <a href="{{ book_id - 1 }}">
                    <div class="move-btn icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" height="100%" width="100%"><path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"/></svg>
                    </div>
                </a>
            {% else %}
                <a href="{{ book_list.__len__() - 1 }}">
                    <div class="move-btn icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" height="100%" width="100%"><path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"/></svg>
                    </div>
                </a>
            {% endif %}

            <!-- 목록으로 -->
            <a href="/home"><div class="list-btn icon size-tolist weight-1 accent-shadow">목록으로</div></a>

            <!-- 다음 -->
            {% if book_id < book_list.__len__() - 1 %}
                <a href="{{ book_id + 1 }}">
                    <div class="move-btn icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" height="100%" width="100%"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
                    </div>
                </a>
            {% else %}
                <a href="0">
                    <div class="move-btn icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" height="100%" width="100%"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
                    </div>
                </a>
            {% endif %}
        </div>


	</div>
    <!-- Footer -->
    <div class="footer">
        <div class="footer-container d-flex flex-column">
            <!-- Other Episodes -->
            <div class="footer-title size-footer-header weight-1">
                다른 기도문
            </div>

            <div class="footer-context">
                {% for book in book_list[book_id - 2:book_id] + book_list[book_id + 1:book_id + 3] %}
                <!-- Other -->
                <div class="footer-context-element d-flex flex-column">
                    <div class="footer-context-title">
                        <a href="{{ book['id'] }}">
                            <div class="d-flex flex-row align-items-start justify-content-start">
                                <div class="footer-context-icon">
                                    <div class="icon icon-small"><img class="svg" src="../static/images/bookmark.svg"></div>
                                </div>
                                <div class="footer-context-title size-footer-subheader accent-shadow">
                                    {{ book['title'] }}
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="size-footer-info footer-context-info">
                        <ul class="d-flex flex-row">
                            <li>{{ book['update'] }}</li>
                            <li>조회수 {{ book['watch'] }}회</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Copyright -->
            <div class="footer-copyright size-footer-cc">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
                All Rights Reserved.
                <a class="cc" href="https://52ch.kr/" target="_blank">오병이어교회.</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</div>

<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/styles/bootstrap-4.1.2/popper.js"></script>
<script src="../static/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="../static/plugins/greensock/TweenMax.min.js"></script>
<script src="../static/plugins/greensock/TimelineMax.min.js"></script>
<script src="../static/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="../static/plugins/greensock/animation.gsap.min.js"></script>
<script src="../static/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="../static/plugins/jPlayer/jquery.jplayer.min.js"></script>
<script src="../static/plugins/jPlayer/jplayer.playlist.min.js"></script>
<script src="../static/plugins/easing/easing.js"></script>
<script src="../static/plugins/progressbar/progressbar.min.js"></script>
<script src="../static/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="../static/plugins/parallax-js-master/parallax.min.js"></script>
<script src="../static/js/book.js"></script>
</body>
</html>