<!DOCTYPE html>
<html lang="ko">
<head>
<title>기도훈련집</title>
<meta charset="UTF-8">
<meta name="keywords" content="기도훈련집, 기도문, 오병이어교회">
<meta name="description" content="오병이어교회 기도훈련집">
<meta name="author" content="오병이어교회">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../static/styles/bootstrap-4.1.2/bootstrap.min.css">
<link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>
<link rel="stylesheet" type="text/css" href="../static/styles/home.css">
<link rel="stylesheet" type="text/css" href="../static/styles/home_responsive.css">
<script src="https://kit.fontawesome.com/b843fa0459.js" crossorigin="anonymous"></script>

</head>
<body>

<div class="super_container">

	<!-- Header -->
	<div class="header-container">
		<div class="fill_all center-all">
            <div class="header weight-1 d-flex align-items-end">
                <div class="size-header"><a href="/home">기도훈련집</a></div>
            </div>

		</div>
	</div>

	<!-- Subheader -->
	<div class="subfooter-container">
        <div class="fill_all subfooter center-all size-subheader weight-2 text-center">
            <ul class="d-flex flex-row">
                <li><a href="/home">Home</a></li>
            </ul>
        </div>
	</div>

	<div class="context-container d-flex flex-column">

        <!-- Writer -->
        <div id="writer" class="book-header size-bookheader weight-1">WRITER</div>
        <div class="d-flex flex-column">
            <div class="size-pageinfo weight-2">
                <p>저자 : 권영구 목사</p>
                <p>
                    - 칼빈신학대학교<br>
                    - 총회신학교 목회연구원(M.Div)<br>
                    - 총회신학대학원(Th.M)<br>
                    - 한국임상 목회대학원(M.Div)<br>
                    - 대학신학 신학연구원(M.Div)<br>
                    - 백석대학교 목회전문대학원(M.Div)<br>
                    - Midwest College and Seminary (B.A)<br>
                    - International College (Ph.D)철학박사<br>
                    - Regent University(D.Min)목회학박사<br>
                    - 오병이어교회 담임목사<br>
                    - 십자가선교센터 대표<br>
                    - 총회신학교 교수역임<br>
                    - 황해노회장 역임<br>
                    - 광명시 교회연합회장 역임<br>
                    - 중국 무한대학 철학원 객원교수 역임<br>
                    - CTS 방송 <교인보감> 출연<br>
                    - 극동방송 <복음의 메아리> 출연<br>
                </p>
                <p>책 소개 : 기도의 능력을 위한 『기도훈련집』. 그리스도의 가르침으로 구성한 기도문을 수록하고 있다. 지금까지 자신의 욕심을 이루려는 기도를 드려 하나님을 괴롭게 한 그리스도인에게는 반성할 기회를 건넨다. 아울러 그리스도의 진리를 만끽할 수 있도록 인도하고 있다. 나라를 위한 기도, 교회를 위한 기도, 가정을 위한 기도, 자녀를 위한 기도, 그리고 삶에 지칠 때 드리는 기도 등으로 구성했다.</p>
            </div>
        </div>
        <hr>

        <!-- License -->
        <div id="license" class="book-header size-bookheader weight-1">LICENSE</div>
        <div class="d-flex flex-column">
            <div class="size-pageinfo weight-2">
                <p>본 서비스의 나레이션에 사용된 목소리는 클로바더빙으로 제작한 AI 보이스 입니다.</p>
                <p>서비스에 사용된 도서의 저작권은 오병이어교회 52출판사에 있습니다.
                출판물 구매를 희망하시는 분은 52출판사를 방문해주시기 바랍니다.</p>
                <p>
                회사명 52출판사 주소 경기도 광명시 소하로 144<br>
                사업자 등록번호 140-90-03679 대표 권영구<br>
                은행 농협 351-0714-4608-23<br>
                오병이어교회 팩스 02-899-9189<br>
                통신판매업신고번호 개인정보 보호책임자 정충상
                </p>


                Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)<br>
            </div>
        </div>
        <hr>

        <!-- Location -->
        <div id="location" class="book-header size-bookheader weight-1">LOCATION</div>
        <div class="d-flex flex-column">
                <p>
                    오병이어교회 / 경기도 광명시 소하로 144 / 02-899-9185-6<br>
                    미디어국장 : 김현래(gusfot@gmail.com)
                </p>
        </div>
        <hr>
	</div>

	<!-- Footer -->
	<footer class="footer-container">
		<div class="footer size-footer">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            All Rights Reserved.
            <a href="https://52ch.kr/" target="_blank">오병이어교회.</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		</div>
	</footer>
</div>

<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/styles/bootstrap-4.1.2/popper.js"></script>
<script src="../static/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="../static/plugins/greensock/TweenMax.min.js"></script>
<script src="../static/plugins/greensock/TimelineMax.min.js"></script>
<script src="../static/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="../static/plugins/greensock/animation.gsap.min.js"></script>
<script src="../static/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="../static/plugins/easing/easing.js"></script>
<script src="../static/plugins/progressbar/progressbar.min.js"></script>
<script src="../static/plugins/parallax-js-master/parallax.min.js"></script>
</body>
</html>