<!DOCTYPE html>
<html lang="ko">
<head>
<title>기도훈련집</title>
<meta charset="UTF-8">
<meta name="keywords" content="기도훈련집, 기도문, 오병이어교회">
<meta name="description" content="오병이어교회 기도훈련집">
<meta name="author" content="오병이어교회">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../static/styles/bootstrap-4.1.2/bootstrap.min.css">
<link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>
<link rel="stylesheet" type="text/css" href="../static/styles/home.css">
<link rel="stylesheet" type="text/css" href="../static/styles/home_responsive.css">
<script src="https://kit.fontawesome.com/b843fa0459.js" crossorigin="anonymous"></script>

</head>
<body>

<div class="super_container">

	<!-- Header -->
	<div class="header-container">
		<div class="fill_all center-all">
            <div class="header weight-1 d-flex align-items-end">
                <div class="size-header"><a href="/home">기도훈련집</a></div>
            </div>

		</div>
	</div>

	<!-- Subheader -->
	<div class="subfooter-container">
        <div class="fill_all subfooter center-all size-subheader weight-2 text-center">
            <ul class="d-flex flex-row">
                <li><a href="/home">Home</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#license">License</a></li>
                <li><a href="#location">Location</a></li>
            </ul>
        </div>
	</div>

	<div class="context-container d-flex flex-column">
        <!-- Contact -->
        <div id="contact" class="book-header size-bookheader weight-1">CONTACT</div>
        <div class="d-flex flex-column">
            <div class="size-pageinfo weight-2">
                <i class="fas fa-phone-square-alt"></i> 010-7193-5820<br>
                <i class="fas fa-envelope-square"></i> tkdzma8080@naver.com<br>
                <i class="fab fa-github-square"></i>
                <a href="https://github.com/tamasino52/prayer_training_book">tamasino52</a>
                <br>
            </div>
        </div>
        <hr>

        <!-- License -->
        <div id="license" class="book-header size-bookheader weight-1">LICENSE</div>
        <div class="d-flex flex-column">
            <div class="size-pageinfo weight-2">
본 서비스의 나레이션에 사용된 목소리는 클로바더빙으로 제작한 AI 보이스 입니다.
서비스에 사용된 도서의 저작권은 오병이어교회 52출판사에 있습니다.
출판물 구매를 희망하시는 분은 52출판사를 방문해주시기 바랍니다.<br>
<br>
회사명 52출판사 주소 경기도 광명시 소하로 144<br>
사업자 등록번호 140-90-03679 대표 권영구<br>
은행 농협 351-0714-4608-23<br>
오병이어교회 팩스 02-899-9189<br>
통신판매업신고번호 개인정보 보호책임자 정충상<br>
<br>
본 서비스는 그리스도의 뜻에 따라 비영리적인 목적으로 개설되었으며 어떠한 수익도 창출하지 않습니다.
            </div>
        </div>
        <hr>

        <!-- Location -->
        <div id="location" class="book-header size-bookheader weight-1">LOCATION</div>
        <div class="d-flex flex-column">
            <div class="size-pageinfo weight-2">
                <pre>
오병이어교회 / 경기도 광명시 소하로 144 / 02-899-9185-6
                </pre>
            </div>
        </div>
        <hr>
	</div>

	<!-- Footer -->
	<footer class="footer-container">
		<div class="footer size-footer">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            All Rights Reserved.
            <a href="https://52ch.kr/" target="_blank">오병이어교회.</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		</div>
	</footer>
</div>

<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/styles/bootstrap-4.1.2/popper.js"></script>
<script src="../static/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="../static/plugins/greensock/TweenMax.min.js"></script>
<script src="../static/plugins/greensock/TimelineMax.min.js"></script>
<script src="../static/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="../static/plugins/greensock/animation.gsap.min.js"></script>
<script src="../static/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="../static/plugins/easing/easing.js"></script>
<script src="../static/plugins/progressbar/progressbar.min.js"></script>
<script src="../static/plugins/parallax-js-master/parallax.min.js"></script>
</body>
</html>