{% extends "book.html" %}

{% block context %}

      <p>
1) 하나님은 거룩하신 분이십니다.
하나님 아버지의 이름이 나를 통하여 거룩히 여김 받으시기를 원합니다.
</p><p>

2) 하나님의 나라가 나에게 이루어지기를 원합니다.
나의 심령에 의와 평강과 희락이 항상 있게 하옵소서.
</p><p>

3) 하나님의 뜻이 하늘에서 이루어진 것 같이 나를 통하여 이 땅에서 이루어지기를 원합니다.
</p><p>

4) 하나님! 나의 기도를 방해하며 믿음을 훼방하고, 하나님을 찾지 못하게 하며 또 하나님께 예배하지 못하게 하고 말씀을 듣지도, 읽지도, 깨닫지도 못하게 하여 시험에 들게 하는 악한 영들을 물리쳐 주옵소서.
나의 마음속에서 쫓아 주옵소서.
그리고 내 삶의 현장인 가정과 직장과 사업장에서 시험 들게 하는 마귀를 물리쳐 주옵소서.
마귀가 마음과 입술에 시험 들게 하나이다.
물리쳐 주옵소서.
나에게 시험이 올지라도 시험에 들지 않고 이기고 물리치는 믿음과 능력을 주옵소서.
그리하여 매일 승리하여 감사함으로 살게 하옵소서.
시험에 넘어지지 않게 하옵시고 시험을 통하여 연단되어 하나님께 인정받는 굳건한 믿음이 되게 하옵소서.
</p><p>

성경 말씀을 믿고 기도합니다.
"시험을 가져오는 모든 악한 영들은 예수님의 이름으로 다 결박되어 내 영혼과 마음과 육체와 가정에서 떠나갈지어다!
예수 그리스도의 이름으로 명하노니 떠나가라!"
하나님 아버지! 천군 천사들을 보내주셔서 모든 악한 영들을 진멸하며 가정과 우리의 삶을 보호해 주옵소서.
시험과 모든 악으로 인해 연결된 죄의 사슬과 저주의 통로가 없어지게 하옵소서.
그리고 축복의 통로가 열리게 하옵소서.
</p><p>

5) 하나님! 다른 사람의 죄를 용서합니다.
나에게 상처를 주고 힘들게 했던 사람을 용서합니다.
예수님의 이름으로 용서합니다.
그 사람을 축복합니다.
그 사람이 시험을 받을 때 이기는 사람이 되게 하옵소서.
</p><p>

6) 하나님! 다른 사람의 죄를 용서해 준 것 같이 나의 죄를 용서하여 주옵소서.
하나님만이 죄를 사하는 권세가 있는 줄 믿습니다.
</p><p>

7) 하나님! 늘 시험에 들지 않도록 사탄의 시험에 버려두지 마옵소서.
</p><p>

8) 하나님! 나를 악에서 구원하여 주옵소서.
나의 마음속에 있는 여러 가지 악에서 구원하셔서 시험과 악을 통해 죄를 짓지 않도록 선한 마음으로 인도해 주옵소서.
또한 세상의 수많은 악에 물들지 않도록 지켜 주옵소서.
</p><p>

9) 하나님의 나라와 권세와 영광이 영원히 하나님 아버지께 있사오며,
</p><p>

10) 예수님의 이름으로 기도드립니다.
</p><p>

아멘.

      </p>
{% endblock %}
