@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{

}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	.context-container, .footer-container
	{
		padding-left: 25%;
		padding-right: 25%;
	}
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{

}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{

}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.context-container, .footer-container
	{
		padding-left: 20%;
		padding-right: 20%;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{

}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	.context-container, .footer-container
	{
		padding-left: 15%;
		padding-right: 15%;
	}
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{

}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{

}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	.context-container, .footer-container
	{
		padding-left: 10%;
		padding-right: 10%;
	}
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{

}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{

}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	.header-container
	{
		height: 280px;
	}
	.subheader-container {
		height: auto;
	}
	.context-container, .footer-container
	{
		padding-left: 5%;
		padding-right: 5%;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{

}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	:root
	{
		/* Header Font Size */
		--head-1: 30pt;
		--head-2: 25pt;
		--head-3: 18pt;
		--head-4: 16pt;
		--head-5: 14pt;
		--head-6: 12pt;
		--head-7: 10pt;

		/* Context Font Size */
		--body-1: 20pt;
		--body-2: 18pt;
		--body-3: 15pt;
		--body-4: 14pt;
		--body-5: 12pt;
		--body-6: 10pt;
		--body-7: 9pt;
		--body-8: 7pt;
	}

	.header-container
	{
		height: 200px;
	}
	.header-version
	{
		height: content-box;
		margin-bottom: 8px;
	}

}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{

}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{

}