@charset "UTF-8";
/* CSS Document */

/******************************

[Table of Contents]

1. User Setting
2. General
3. Header
4. Subheader
5. Context
6. Footer

******************************/

/*********************************
1. User Setting
*********************************/
:root {
	/* Color Palette */
	--background-color: White;
	--text-color: Black;
	--accent-color: OrangeRed;
	--gray-text-color: lightgray;

	--footer-background-color: #1f2128;
	--footer-text-color: White;
	--footer-accent-color: OrangeRed;

	--darkmode-background-color: Black;
	--darkmode-text-color: White;
	--darkmode-accent-color: OrangeRed ;

	--dark-shadow-color: #00000055;
	--light-shadow-color: #ffffff55;
	--accent-shadow-color: #ff450055;

	/* Font Setting */
	--sans: 'KoPub Dotum', sans-serif;
}

/*********************************
1. General
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

body
{
	font-family: var(--sans);
	font-size: var(--body-6);
	font-weight: 400;
	background: var(--background-color);
	color: var(--text-color);
}

div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul
{
	list-style: none;
	margin-bottom: 0;
}

a:hover, a:active, a:focus
{
	color: var(--accent-color)
}

a:link {
	text-decoration: none;
	color: inherit;
}
a:visited {
	text-decoration: none;
	color: inherit;
}

::selection
{
	background: var(--accent-color);
	color: var(--darkmode-text-color);
}

/* font size */
.size-header *, .size-header {font-size: 36pt;}
.size-version *, .size-version {font-size: 11pt;}
.size-subheader *, .size-subheader {font-size: 16pt;}
.size-bookheader *, .size-bookheader {font-size: 30pt;}
.size-pageheader *, .size-pageheader {font-size: 18pt;}
.size-pageinfo *, .size-pageinfo {font-size: 12pt;}
.size-btm-header *, .size-btm-header {font-size: 14pt;}
.size-footer *, .size-footer {font-size: 7pt;}

/* font style */
.sans *, .sans {
	font-family: var(--sans);
}


/* font weight */
.weight-1 *, .weight-1 {font-weight: 700;}
.weight-2 *, .weight-2 {font-weight: 400;}
.weight-3 *, .weight-3 {font-weight: 300;}

/* align */
.center-v {
	display: flex;
	align-items:center;
}
.center-h {
	display: flex;
	justify-content: center;
}
.center-all {
	display: flex;
	justify-content: center;
	align-items:center;
}
.right-h {
	display: flex;
	justify-content: right;
}
.left-h {
	display: flex;
	justify-content: left;
}

/* svg icon*/
.icon
{
	cursor: pointer;
}

/* Animation */
.trans_200 *
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300 *
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400 *
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500 *
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

/* Container */
.fill_all
{
	width: 100%;
	height: 100%;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
img
{
	max-width: 100%;
}
.clear
{
	clear: both;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}

/* Parallax Window */
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 110% !important;
}
.parallax-window
{
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: top;
	background-repeat: repeat-x;
	background-size: cover;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0 !important;
}

/* Shadow Setting */
.accent-shadow:hover, .accent-shadow:active, .accent-shadow:focus {
	-webkit-text-shadow: var(--accent-shadow-color) 0 0 4px;
	text-shadow: var(--accent-shadow-color) 0 0 4px;
}
.dark-shadow:hover, .dark-shadow:active, .dark-shadow:focus {
	-webkit-text-shadow: var(--dark-shadow-color) 0 0 4px;
	text-shadow: var(--dark-shadow-color) 0 0 4px;
}
.light-shadow:hover, .light-shadow:active, .light-shadow:focus {
	-webkit-text-shadow: var(--light-shadow-color) 0 0 4px;
	text-shadow: var(--light-shadow-color) 0 0 4px;
}

/*********************************
3. Header
*********************************/

.header-container
{
	height: 346px;
	background-image: url('../images/sky.jpg');
	background-size: cover;
}
.header-background
{
	min-height: 300px;
	background-image: url('../images/sky.jpg');
}
.header *, .header
{
	display: inline;
	color: var(--footer-text-color);
	-webkit-text-shadow: var(--dark-shadow-color) 0 0 4px;
	text-shadow: var(--dark-shadow-color) 0 0 4px;
}
.header-version
{
	margin-left: 3px;
	height: content-box;
	margin-bottom: 10px;
}
/*********************************
4. Subheader
*********************************/

.subheader-container
{
	height: auto;
	background-image: url('../images/books.jpg');
	background-size: cover;

}
.subheader *, .subheader
{
	padding-top: 20px;
	padding-bottom: 20px;
	color: var(--footer-text-color);
	-webkit-text-shadow: var(--dark-shadow-color) 0 0 2px;
	text-shadow: var(--dark-shadow-color) 0 0 2px;
	line-height: 1.4;
}

/*********************************
5. Context
*********************************/

.book-header
{
	color: var(--accent-color);
	padding-bottom: 0px;
	padding-top: 5px;
}
.context-container
{
	background: var(--background-color);
	padding: 22px 30%;
}
.context:hover *, .context:active *, .context:focus *, .context:hover, .context:active, .context:focus
{
	color: var(--accent-color)
}
.context:last-child hr
{
	visibility: hidden;
}
.context-title
{
	color: var(--text-color);
	line-height: 1;
}
.context-info
{
	color: var(--text-color);
	margin-top: 6px;
}
.context-info ul li:not(:last-of-type)::after
{
	display: inline-block;
	content: '|';
	color: var(--gray-text-color);
	margin-left: 10px;
	margin-right: 10px;
}

/*********************************
6. SubFooter
*********************************/

.subfooter ul li:not(:last-of-type)::after
{
	display: inline-block;
	content: ' | ';
	color: var(--gray-text-color);
	margin-left: 10px;
	margin-right: 10px;
}

.subfooter-container
{
	height: auto;
	background-image: url('../images/books.jpg');
	background-size: cover;

}
.subfooter *, .subfooter
{
	padding-top: 5px;
	padding-bottom: 5px;
	color: var(--footer-text-color);
	-webkit-text-shadow: var(--dark-shadow-color) 0 0 2px;
	text-shadow: var(--dark-shadow-color) 0 0 2px;
}

/*********************************
6. Footer
*********************************/

.footer-container
{
	display: block;
	background: var(--footer-background-color);
	padding: 14px 30%;
}

.footer *, .footer
{
	color: var(--footer-text-color)
}

.footer a
{
	color: var(--footer-accent-color)
}